@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    width: 100vh;
    box-sizing: border-box;
    background: linear-gradient(75deg, #3debb0, #8956F3 );
}

.container {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; 
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #0a1b2d;
    font-size: 80px;
    letter-spacing: 2px;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 1s steps(7),     /* steps -> número de caracteres da palavra */
        cursor .4s step-end infinite alternate;
}

/*efeito cursor piscando*/
@keyframes cursor {
    50% { border-color: transparent; }
}

/*efeito digitação*/
@keyframes typing {
    from { width: 0; }
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0a1b2d;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #f0f5fb;
    font-size: 16px;
    line-height: 40px;
    width: 0;           /* width 0 enquanto o cursor do mouse não esta em cima */
    transition: 0.5s;
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0a1b2d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box:hover .search-text{
    width: 500px;
    padding: 0 6px;
}

.search-box:hover .search-btn {
    background: #25405f;
}

::-webkit-input-placeholder {
    color: #25405f;
}

#lupa-light {
    height: 20px;
    width: 20px;
}

.light-dark {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    transition: background 0.2s linear;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #0a1b2d;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 22px;
    width: 55px;
    transform: scale(1.1);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(33px);
}

.fa-moon {
    color: #391ed3;
    margin-left: 6px;
}

.fa-sun {
    color: #3debb0;
    margin-right: 6px;
}

body.dark {
    background: linear-gradient(75deg, #1b8561, #4c11cd );
}

h1.dark {
    color: #fff;
}

.search-box.dark {
    background: #fff;
}

.search-text.dark {
    color: #0a1b2d;
}

.search-btn.dark {
    background: #fff;
}

.search-box:hover.dark .search-btn {
    background: #dfdfe0;
}

.label.dark {
    background-color: #fff;
}

.label .ball.dark {
    background-color: #0a1b2d;
}